body { 
    font-family: sans-serif; 
    padding: 20px; 
    background: #ded8be; 
}

.info-box { 
    margin-top: 20px; 
    padding: 15px; 
    border-radius: 8px; 
    background: #ce8525; 
    box-shadow: 0 0 5px rgba(0,0,0,0.1); 
    width: 50%;
    opacity:  0.8;
}
    
.hidden { 
    display: none; 
}
    
#reader { 
    margin: auto; 
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

strong {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    z-index: 9999;

    /* Initially hidden and transparent */
    opacity: 0;
    pointer-events: none;

    /* Smooth opacity transition */
    transition: opacity 0.5s ease;
}